@*@model IEnumerable<MvcColiseoVirtual.Models.Producto>*@
@model PaginatedList<MvcColiseoVirtual.Models.Producto>


@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
                @*@Html.DisplayNameFor(model => model.Descripcion)*@
            </th>
            <th>
                Texto
                @*@Html.DisplayNameFor(model => model.Texto)*@
            </th>
            <th>
                Precio
                @*@Html.DisplayNameFor(model => model.Precio)*@
            </th>

            <th>
                Stock
                @*@Html.DisplayNameFor(model => model.Stock)*@
            </th>
            <th>
                Escaparate
                @*@Html.DisplayNameFor(model => model.Escaparate)*@
            </th>
            <th>
                Imagen
                @*@Html.DisplayNameFor(model => model.Imagen)*@
            </th>
            <th>
                Categoría
                @*@Html.DisplayNameFor(model => model.Categoria)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCadena)
            </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escaparate)
            </td>
            <td>
                    @{
                        var nombreImagen = "imagen-no-disponible.jpg";
                        if (item.Imagen != null)
                        {
                            nombreImagen = item.Imagen;
                        }
                            <img src="~/images/@nombreImagen" height="250" width="250" asp-append-version="true" />
                        }
                </td>
                @*
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            *@

                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
}
    </tbody>
</table>
@* Poner botones de página Siguiente y Anterior *@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-secondary @prevDisabled">
    Anterior
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-secondary @nextDisabled">
    Siguiente
</a>